N8N_HOST=n8n.jenskock.de
N8N_PORT=5678
N8N_PROTOCOL=https
WEBHOOK_URL=https://n8n.jenskock.de/
GENERIC_TIMEZONE=Europe/Berlin
TZ=Europe/Berlin

# Generate with: openssl rand -hex 32
N8N_ENCRYPTION_KEY=change-me
